apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: adguard-home
resources:
  - namespace.yaml
  - helmrelease.yaml
  - ingress.yaml
  - ingress-adguard-home-tailscale.yaml
  - certificate.yaml
  - networkpolicy.yaml
