{{- if .Values.redis.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "paperless-ngx.redis.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "paperless-ngx.redis.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: redis
      protocol: TCP
      name: redis
  selector:
    {{- include "paperless-ngx.redis.selectorLabels" . | nindent 4 }}
{{- end }}
